#boxes{
    width: 80%;
    margin: auto;
    text-align: center;
}

#btns{
    padding: 20px;
    background: white;
    margin-bottom: 20px;
}

#btns .fa{
    font-size: 30px;
}

#btns .fa-play-circle{
    color: green;
}

#btns .fa-pause-circle{
    color: red;
}

.box {
    position: relative;
    width: 70px;
    height: 70px;
    margin: 10px;
    display: inline-block;
}

.enlargebox{
    position: relative;
    width: 30px;
    height: 30px;
    margin: 100px;
    display: inline-block;
    background-color: rgb(255, 195, 106);
}

.red{ background-color: red}
.blue{ background-color: blue}
.green{ background-color: green}
.yellow{ background-color: yellow}